@media screen and (min-width: 700px) {
    h1 {font-size: 4em;
    }
    p {
        font-size: 30px;

    }
    #field {
        width: 8em;
        height: 1em;
        font-size: 40px;
    }
    #find {
        height: 3em;
        width: 4em;
        font-size: 2em;
    }
    #eye {
        position: relative;
        left: 180px;
        bottom: 225px;}
    .table {
        position: relative;
        right: 180px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 9em;
            }
    p {
        font-size: 4em;
    }
    #field, #find {
        height: 1em;
        font-size: 4em;
    }
    #eye {
        position: relative;
        bottom: 25em;
        left: 20em;
        transform: scale(2);
    }
    .table {
        position: relative;
        right: 25em;
    }
}
